<component name="ArtifactManager">
  <artifact type="war" name="springboot-demo01:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="springboot-demo01.war">
      <element id="artifact" artifact-name="springboot-demo01:war exploded" />
    </root>
  </artifact>
</component>